* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}



.txt_link {
  color: #fff;
  margin-left: 12px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.charts>div>li {
  display: flex;
  flex-direction: row;
}

.charts {
  padding: 7px;
  margin-left: 4%;
  margin-right: 5%;
  width: 100%;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-actions {
  border: none !important;
  background-color: white !important
}

.col-md-4 {
  display: flex;
  flex-direction: column;
  max-width: 30%;
}

.form {
  padding: 7px;
  margin-right: 2%;
  width: 100%;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.1);
  display: inline-block;

}

.form>form,
.col-sm-4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.btn {
  color: #fff;
  background-color: teal;
  border-style: none;
  width: 80%;
  height: 34px;
}

.btn:hover {
  color: #fff;
  background-color: rgb(17, 151, 151);
  width: 80%;
}


p {
  word-break: break-all;
}

td,
th {
  width: 33%;
}

thead,
tbody {
  margin-left: 1%;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

label {
  font-size: smaller;
}

table {
  width: 100%;
}


.col-md-5,
.col-sm-4 {
  display: flex;
  flex-direction: row;
}

.container {
  padding: 5%;
  margin-left: 5%;
  display: wrap;
  gap: 20px;
  position: relative;
  max-width: 980px;
}


a {
  margin-left: 15%
}

.side_menu {
  width: 50px;
  height: 100%;
  background-color: #202020;
  padding: 40px 0 40px 0;
  box-shadow: 3px 0 0 #2884d5;
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  transition: 0.2s;
  z-index: 1;
}

label {
  margin: 7px 0 0 0;
}

.col-md-6 {
  display: flex;
  flex-direction: column;
}

/* @media (max-width: 768px) {
  a {
    margin-left: 15%
  }

  .side_menu {
    width: 50px;
    height: 100%;
    background-color: #202020;
    padding: 40px 0 40px 0;
    box-shadow: 3px 0 0 #2884d5;
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
    transition: 0.2s;
    z-index: 1;
  }

  .txt_link {
    color: #fff;
    margin-left: 12px;
  }

  .container {
    margin-left: 9%;
    display: block;
  }

  .charts {
    padding: 30px;
    margin-left: 4%;
    margin-right: 5%;
    width: 100%;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h5 {
    padding-left: 3%;
  }

  label {
    margin: 7px 0 0 0;
  }

  .col-md-6 {
    display: flex;
    flex-direction: column;
    max-width: 50%;
  }

  .col-md-4 {
    display: flex;
    flex-direction: column;
    max-width: 30%;
  }

  .side_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 100%;
    background-color: #202020;
    padding: 40px 0 40px 0;
    box-shadow: 3px 0 0 #2884d5;
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
    transition: 0.2s;
  }

  .btn_expand {
    width: 100%;
    height: 100%;
  }

  .btn_expand>i {
    color: #fff;
    font-size: 24px;
    cursor: pointer;
  }

  .col-md-6 {
    display: flex;
    flex-direction: column;
    max-width: 50%;
  }

  .col-md-4 {
    display: flex;
    flex-direction: column;
    max-width: 30%;
  }

  .main_row {
    padding-left: 3%;
  }

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .balance_icon {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #3579de;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .items {
    height: 70px;
    width: 220px;
    background-color: #fff;
    border-radius: 15px;
    margin-right: 0.5%;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  }

  .income_icon {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #1ab424;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icon>i {
    font-size: 20px;
  }

  li.item_menu a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
    margin-left: 15%;
  }

  ul>li.item_menu a.txt_link {
    font-size: 13px;
    margin-left: 30px;
  }


  li.item_menu:hover {
    background: #2884d5;
  }

  li.item_menu {
    display: flex;
    align-items: start;
    justify-content: start;
    width: 100%;
    height: 60px;
    transition: 0.2s;
  }
} */

.btn_expand {
  width: 100%;
  padding-left: 1px;
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  height: 60px;
  transition: 0.2s;
}

.btn_expand>a>span>i {
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

li.item_menu a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  padding: 20px 4%;
  display: flex;
  margin-bottom: 20px;
  line-height: 40px;
  margin-left: 15%;
}

ul>li.item_menu a.txt_link {
  font-size: 13px;
  margin-left: 30px;
}


li.item_menu:hover {
  background: #2884d5;
}

li.item_menu {
  display: flex;
  align-items: start;
  justify-content: start;
  width: 100%;
  height: 60px;
  transition: 0.2s;
}

/* .main_row {
  padding-left: 3%;
  display: flex;
  flex-direction: row;
} */

.items {
  height: 70px;
  width: 220px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 1px 0 rgba(13, 8, 8, 0.102);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.balance_icon {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #3579de;
  display: flex;
  justify-content: center;
  align-items: center;
}

.income_icon {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #1ab424;
  display: flex;
  justify-content: center;
  align-items: center;
}

.expense_icon {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #d80808;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: start;
  color: #fff;
}

.icon>i {
  font-size: 20px;
}