* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

ul, li {
  padding: 0;
}

p {
  word-break: break-all;
}

td, th {
  width: 33%;
}

thead, tbody {
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

label {
  font-size: smaller;
}

table {
  width: 100%
}

.charts > div > li, .form > form, .col-md-5 {
  display: flex;
  flex-direction: wrap;
}
.col-sm-4 {
  display: flex;
  flex-direction: row;
}

.btn {
  color: #fff;
  background-color: teal;
  border-style: none;
  width: 80%;
  height: 34px;
}

.btn:hover {
  color: #fff;
  background-color: rgb(17, 151, 151);
  width: 80%;
}


body {
  height: 100vh;
  background: #ebebec;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  z-index: -1;
}

.container {
  padding: 5%;
  margin-left: 5%;
  display: wrap;
  gap: 20px;
  position: relative;
  z-index: 0;
  max-width: 980px;
 }
.charts {
 padding: 7px;
 margin-left: 4%;
 margin-right: 5%;
 width: 100%;
 background-color: #fff;
 border-radius: 15px;
 box-shadow: 0 2px 1px 0 rgba(0,0,0,.1);
 -moz-box-shadow: 0 2px 1px 0 rgba(0,0,0,.1);
 display: flex;
 align-items: center;
 justify-content: center;
}

.form {
  padding: 15px;
  margin-left: 4%;
  margin-right: 5%;
  width: 100%;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 2px 1px 0 rgba(0,0,0,.1);
  -moz-box-shadow: 0 2px 1px 0 rgba(0,0,0,.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.items {
  height: 70px;
  width: 220px;
  background-color: #fff;
  border-radius: 15px;
  margin-right: 4%;
  margin-left: 8%;
  box-shadow: 0 2px 1px 0 rgba(0,0,0,.1);
  -moz-box-shadow: 0 2px 1px 0 rgba(13, 8, 8, 0.102);
  display: flex;
  justify-content: space-between;
 }


 .side-menu {
  width: 50px;
  height: 100%;
  background-color: #202020;
  padding: 40px 0 40px 0;
  box-shadow: 3px 0 0 #2884d5;
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  transition: .2s;
  z-index: 1;
}

 .row {
  display: flex;
  align-items: center;
  justify-content: center;
 }

 .icon {
   display: flex;
   justify-content: center;
   align-items: center;
 }

.balance-icon {
 border-radius: 50%;
 width: 40px;
 height: 40px;
 background-color: #3579de;
 display: flex;
 justify-content: center;
 align-items: center;
}


.income-icon {
 border-radius: 50%;
 width: 40px;
 height: 40px;
 background-color: #1ab424;
 display: flex;
 justify-content: center;
 align-items: center;
}

.expense-icon {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #d80808;
  display: flex;
  justify-content: center;
  align-items: center;
 }

label {
 margin: 7px 0 0 0;
}

.col-md-6 {
 display: flex;
 flex-direction: column;
}


@media (max-width: 768px) {

  .container {
   margin-left: 9%;
   display: block;
  }

  .charts {
    padding: 30px;
    margin-left: 4%;
    margin-right: 5%;
    width: 100%;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 2px 1px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 2px 1px 0 rgba(0,0,0,.1);
    display: flex;
    align-items: center;
    justify-content: center;
   }

  .main-row, h5{
    padding-left: 3%;
  }

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.balance-icon {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #3579de;
  display: flex;
  justify-content: center;
  align-items: center;
}


.income-icon {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #1ab424;
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  margin: 7px 0 0 0;
}

.col-md-6 {
  display: flex;
  flex-direction: column;
  max-width: 50%;
}

.col-md-4 {
  display: flex;
  flex-direction: column;
  max-width: 30%;
}

.items {
  height: 70px;
  width: 220px;
  background-color: #fff;
  border-radius: 15px;
  margin-right: 0.5%;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
  -moz-box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
}

.side-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 100%;
  background-color: #202020;
  padding: 40px 0 40px 0;
  box-shadow: 3px 0 0 #2884d5;
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  transition: .2s;
}

.btn-expand {
  width: 100%;
  height: 100%;
}

.btn-expand > i {
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

ul {
  height: 100%;
  list-style: none;
  display: block;

}

ul, li {
  width: 100%;
}

ul li.item-menu a{

  color: #fff;
  text-decoration: none;
  font-size: 20px;
  padding: 20px 4%;
  display: flex;
  margin-bottom: 20px;
  line-height: 40px;
}

ul li.item-menu a .txt-link {
  font-size: 13px;
  margin-left: 30px;
}

ul li.item-menu a .icon > i {
  font-size: 20px;
}

ul li.item-menu:hover {
  background: #2884d5;
}

ul li.item-menu {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100% ;
  height: 60px;
  transition: .2s;
}


}

.btn-expand {
  width: 100%;
  padding-left: 1px;
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100% ;
  height: 60px;
  transition: .2s;
}

.btn-expand > a > span > i {
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

ul {
  height: 100%;
  list-style: none;
  display: block;

}

i {
 margin-left: 10px;
}

ul, li {
  width: 100%;
}

ul li.item-menu a{

  color: #fff;
  text-decoration: none;
  font-size: 20px;
  padding: 20px 4%;
  display: flex;
  margin-bottom: 20px;
  line-height: 40px;
}

ul li.item-menu a .txt-link {
  font-size: 13px;
  margin-left: 30px;
}

ul li.item-menu a .icon > i {
  font-size: 20px;
}

ul li.item-menu:hover {
  background: #2884d5;
}

ul li.item-menu {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100% ;
  height: 60px;
  transition: .2s;
}

